# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Facultate\Anul 2\Semestrul2\Tehnici de Programare Fundamentale\Teme\Tema1\tema1Polinom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
